@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #111827;
		--text2: #374151;
		--background: #ffffff;
		--background2: #e5e7eb;
	}
	.dark {
		--text: #f3f4f6;
		--text2: #d1d5db;
		--background: #111827;
		--background2: #1f2937;
	}
}
